{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
  },
  "globals": {},
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single"],
    "no-shadow": "error",
    "max-len": ["error", 120],
    "curly": ["error", "all"],
    "comma-spacing": "error",
    "array-bracket-spacing": "error",
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-trailing-spaces": "error",
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false, "classes": false }],
    "@typescript-eslint/restrict-plus-operands": "error",
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/prefer-interface": "off",
  }
}
